* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

.container {
  background: url('/images/depositphotos_325837802-stock-photo-man-writing-in-office-cloud.jpg') no-repeat center center/cover;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 600px;
  text-align: center;
}

.logo-img {
  width: 200px;
  margin-bottom: 10px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #f7f6f6;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #eeeef0;
}

.options a {
  color: #379fdb;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
}

.login-box button {
  width: 100%;
  height: 50px;
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: hsl(197, 76%, 54%);
}
button a{
  text-decoration: none;
  font-size: 20px;
  color: #eeeef0;
}
.sign-up {
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}

.sign-up a {
  color: #00c3ff;
  text-decoration: none;
  font-weight: bold;
} 
